.sectionForm {
    padding-left: 40px;
}
.sectionList {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    
}
.sectionLink {
    text-decoration: none;
    color: #000000;
}

.sectionLink:hover,
.sectionLink:focus {
    color: aqua;
}