.headerForm {
height: 60px;
background-color: bisque;
border: 2px solid #000;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.headerList {
display: flex;
list-style: none;
gap: 40px;
align-items: center;
}

.headerItem{
font-size: 22px;
font-weight: 400;
}

.headerLink {
text-decoration: none;
color: #000000;
}

.headerLink:hover,
.headerLink:focus {
    color: aqua;
}